:root {
  /* --primary-color: #32a4dc;
  --secondary-color: ghostwhite; */
  --primary-font: ;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}
